body {
    background-color: $color-white;
}

.card {
    width: 18rem;
    min-height: 200px;
    transition: .3s;

    &:hover {
        cursor: pointer;
        background-color: $color-ligth-grey;
    }

    &.selected {
        background-color: $color-ligth-grey;
        color: $color-white !important;

        .card-text {
            color: $color-white;
        }

        p {
            color: $color-white;
        }
    }

    .card-body {
        .col {
            position: relative;
        }
    }
}

.switcher-block {
    background-color: $color-ligth-grey;
    min-height: 200px;
    padding: 8px 12px;
    border-radius: 5px;
}